@import '../variables.scss';

#right-nav {
  display: none;
}

@media (min-width: 992px) {
  #right-nav {
    width: 95vw;
    position: fixed;
    top: $header-height;
    padding-right: calc(4 * 2.5vw);
    font-family: 'Baloo Chettan 2';
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    .btn-wrapper {
      height: 50px;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: center;

      .menu-string {
        width: 100%;
        padding: 5px;
        font-size: 1.5em;
        transition: all 0.5s 0.1s;
      }

      /* navbar menu highlight */
      .underscore {
        width: 0;
        height: 5px;
        opacity: 0;
        border-radius: 3px;
        transition: all 0.5s 0.1s;
        transform: translateY(-5px);
      }

      .cur-category {
        color: $selected-color;
        transform: scale(1.05);
      }

      /* animation effect when hover over the menu */
      .menu-string:hover+.underscore {
        opacity: 1;
        width: 100%;
        background-color: #477775;
      }
    }
  }
}