@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Caveat|Mitr&display=swap');
@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: $bg-color;
  color: $default-text-color;
  font-family: 'Neue Haas Grotesk W01 Disp', Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: $default-text-color;
}

.bg-color {
  background: $bg-color;
}

body {
  color:$default-text-color;
}

main {
  width: 100%;
  background-color: $bg-color;
}

.container, .container-sm {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.text-title {
  font-size: 2em;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #7785ac;
  text-align: center;
  background: none;
  opacity: 0.95;
}

@media (min-width: 992px) {
  .text-title {
    font-size: 3em;
  }
}
